body{

  font-family:Georgia, 'Times New Roman', Times, serif;
  background-image:url("../images/criss-cross.png");
}

main.container {
 width: 90%; 
}
hr{
  border-top-width: 2px;
}
.footer{
position: fixed;
left: 0;
bottom: 0;
width: 100%;
text-align: center;
margin-top: 20px;
}
.card-img {
  width: 200px;
}

.card-text {
  width: 200px;
}

.card-text{
  background-color:teal;
  text-align:center;
  margin:0;
  padding:5px;
  
}