body{

  font-family:Georgia, 'Times New Roman', Times, serif;
  background-image:url("../images/criss-cross.png");
} 
.footer{
position: fixed;
left: 0;
bottom: 0;
width: 100%;
text-align: center;
}
.card-1{
  background-image:url("../images/Apple.png");
  width:100px;
}
.card-2{
  background-image:url("../images/Flag.png");
  width:100px;
}